<div id='container'>
  <!-- Your html here -->

  <h1>Shortly</h1>
  <div class='navigation'>
    <ul>
      <li><a href="#/links" class="index">All Links</a></li>
      <li><a href="#/shorten" class="create">Shorten</a></li>
    </ul>
    <a class="logout" ng-click="signout()">Logout</a>
  </div>

  <!-- we are expecting a links object here -->
  <ul ng-repeat="link in data.links">
    <li><strong> {{link.title}} </strong></li>
    <li><a href="{{link.base_url + '/' + link.code}}"> {{link.base_url + '/' + link.code}} </a></li>
    <li><strong>Visits:</strong> {{link.visits}} </li>
  </ul>

</div>
