<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input type='text' name="username" ng-model='user.username' ng-minlength="4" placeholder="Username" required>
    <p ng-show="signinForm.username.$error.minlength" class="help-block">Username is too short.</p>
    <p ng-show="signinForm.username.$error.maxlength" class="help-block">Username is too long.</p>

    <input type="password" name="password" ng-model='user.password' ng-minlength="8" ng-maxlength="24" placeholder="Password" required>
    <p ng-show="signinForm.password.$error.minlength" class="help-block">Password is too short, please enter between 8-24 characters.</p>
    <p ng-show="signinForm.password.$error.maxlength" class="help-block">Password is too long, please enter between 8-24 characters.</p>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
